@model IEnumerable<GamingGateStudios.Models.Game>

@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Games</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Num Of Gamers
        </th>
        <th>
            Number Of Watch
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @{
                string desc = string.Join(" ", item.Description.Split(' ').Take(10).ToArray());
            }
            @desc .......@Html.ActionLink("More", "Details", new { id = item.ID })
        </td>
        <td>
            @item.Gamers.Count
        </td>
        <td>
            @item.Watch
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
