@model IEnumerable<GamingGateStudios.Models.Game>

@{
    ViewBag.Title = "Games";
    Layout = "~/Areas/Operators/Views/Shared/_Layout.cshtml";
}

<div style="width:90%; margin:0 auto;">
    <h2>Games</h2>
    <div class="graph">
        <div class="tables" style="align-items:center">

            <table class="table table-bordered">
                <thead>
                    <tr style="align-items:center">
                        <th>#</th>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>@Html.DisplayNameFor(model => model.Description)</th>
                        <th>Photo</th>
                        <th>
                            Number Of Gamers
                        </th>
                        <th>
                            Watch
                        </th>
                    </tr>
                </thead>
                <tbody style="align-items:center">
                    @{
                        int counter = 0;
                    }
                    @foreach (var item in Model)
                    {
                        counter++;
                        <tr>
                            <th scope="row">@counter</th>
                            <td>@Html.ActionLink(item.Name, "Details", new { id = item.ID })</td>
                            <td>@{ 
                                   string desc = string.Join(" ",item.Description.Split(' ').Take(10).ToArray());
                                 }
                            @desc .......@Html.ActionLink("More", "Details", new { id = item.ID })
                            </td>
                            <td><img src="~/Uploads/Games/@(item.ID).jpg" alt="" width="60" height="60" /></td>
                            <td>
                                @item.Gamers.Count
                            </td>
                            <td>
                                @item.Watch
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    </div>
