@model GamingGateStudios.Models.Admin

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Admin</h2>


@using (Html.BeginForm("Create","Admins",FormMethod.Post,new {@enctype= "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Fill Admin Data</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Admin_Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="Select1" name="Admin_Type" class="form-control">
                    <option value="1">Manager</option>
                    <option value="0">Normal</option>
                </select>
                @Html.ValidationMessageFor(model => model.Admin_Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Photo</label>
            <div class="col-md-10">
                <input id="File1" type="file" name="photo" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@*<script>
    var Password = document.getElementById("Password");
    Password.onchange=function()
    {
        var Pass = document.getElementById("Password");
        if (Pass.value.length < 8) {
            document.getElementById("Password").setCustomValidity('Password Length Must Be > 8');
        }else if(isNaN(Pass.value)==false)
        {
            document.getElementById("Password").setCustomValidity('Password  Must Have Words');
        } else {
            document.getElementById("Password").setCustomValidity('');
        }
    }
</script>*@