@model GamingGateStudios.Models.GGBDeal

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pricing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GGB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GGB)
        </dd>
        <dt>
            Number Of Buying
        </dt>
        <dd>
           @Model.Users_GGBDeals.Where(x=>x.Active==true).Count()
        </dd>
        <dt>
            Number Of Cancel
        </dt>
        <dd>
            @Model.Users_GGBDeals.Where(x => x.Active == false).Count()
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
