@model GamingGateStudios.Models.AD

@{
    ViewBag.Title = "DetailsAD";
    Layout = "~/Areas/Operators/Views/Shared/_Layout.cshtml";
}
<div style="width:800px; margin:0 auto;">

    <h2>DetailsAD</h2>

    <div>
        <h4>AD</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Enable)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Enable)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Width)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Width)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Height)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Height)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CPM)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CPM)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Link)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Link)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Click)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Click)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ads_Clients.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ads_Clients.Name)
            </dd>
            


            <dt>
                Start Date
            </dt>
            <dd>
                12-2-2017
            </dd>
            <dt>
                End Date
            </dt>
            <dd>
                12-5-2017
            </dd>
            <dt>
                Start Time
            </dt>
            <dd>
                12.15.00
            </dd>
            <dt>
                End Time
            </dt>
            <dd>
                22.07.00
            </dd>
            <dt>
                Countries
            </dt>
            <dd>
                Egypt , USA , Qatar
            </dd>

            <dt>
                Photo
            </dt>
            <dd>
                <img src="~/Uploads/ADS/@(Model.ID).jpg" alt="" />
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "EditAD", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "ADS")
    </p>
    </div>
