@model IEnumerable<GamingGateStudios.Models.Ads_Clients>

@{
    ViewBag.Title = "Clients";
    Layout = "~/Areas/Operators/Views/Shared/_Layout.cshtml";
}

<div style="width:90%; margin:0 auto;">
    <h2>Clients</h2>
    <div class="graph">
        <div class="tables" style="align-items:center">

            <table class="table table-bordered">
                <thead>
                    <tr style="align-items:center">
                        <th>#</th>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>@Html.DisplayNameFor(model => model.Target_CPM)</th>
                        <th>@Html.DisplayNameFor(model => model.Price)</th>
                    </tr>
                </thead>
                <tbody style="align-items:center">
                    @{
                        int counter = 0;
                    }
                    @foreach (var item in Model)
                    {
                        counter++;
                        <tr>
                            <th scope="row">@counter</th>
                            <td>@Html.ActionLink(item.Name, "DetailsClient", new { id = item.ID })</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Target_CPM)
                            </td>
                            <td>
                                  @Html.DisplayFor(modelItem => item.Price)
                            </td>
                        <td>
                            <a href="~/Operators/OAgencies/EditClient/@item.ID" style="cursor:pointer;-webkit-appearance:button;background-color: #002561;border: 4px solid #002561;color: #fff;padding: .4em 1em;margin-top: 1em;">Edit</a>
                            @using (Html.BeginForm("DeleteClient", "OAgencies", new { id = item.ID }))
                            {
                                <input id="Submit1" style="background-color:red" type="submit" value="Delete" onclick="return confirm('Are You Sure You Want To Delete This Client ?!');" />
                            }
                        </td>
                    </tr>
                                }
                </tbody>
            </table>
        </div>
    </div>
</div>
