@model GamingGateStudios.Models.AD

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete @Model.Name ?!</h3>
<div>
    <h4>@Model.Name Data</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CPM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPM)
        </dd>

        @if (Model.Ads_Clients.Agency_ID == null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Ads_Clients.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ads_Clients.Name)
            </dd>
        }
        else
        {
            <dt>
                @Html.DisplayNameFor(model => model.Ads_Clients.Agency.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ads_Clients.Agency.Name)
            </dd>
        }

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
